/* Estilos para el contenedor de pétalos */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    overflow-y: hidden; /* Evita el scroll vertical */
    width: 100%; /* Asegura que el contenido ocupe todo el ancho */
    height: 100%; /* Asegura que el contenido ocupe toda la altura */
    box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
}
#petals-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

/* Estilos para los pétalos */
.petal {
    position: absolute;
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    height: 30px;
    background-size: cover;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.passions-conflict-regular-pareja {
    animation: zoomInOut 2s ease-in-out infinite;
}

/* Estilos para la imagen de la rosa */
.rosa-image {
    transition: transform 1s ease-in-out;
}



/* Estilos para la imagen de la rosa */
.rosa-image {
    transition: transform 1s ease-in-out;
}

/* Estilos para el div con la imagen par.jpg */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-container .text-container {
    margin-top: 16px;
    text-align: center;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
    .image-container {
        max-width: 300px; /* Ajusta el tamaño máximo del contenedor */
        padding: 8px; /* Reduce el padding */
        margin-left: auto;
        margin-right: auto;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .image-container .text-container {
        margin-top: 8px; /* Reduce el margen superior */
    }
}
